.container {
    display: flex;
    justify-content: space-between;
}

.section {
    flex: 1;
    margin-right: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

li .delete {
    margin-left: 10px;
    cursor: pointer;
}

li.checked {
    color: gray;
    text-decoration: line-through;
}
