html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul ,li{
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
button{
    border: 0; background: none;
    font: inherit;
}
button:not(:disabled){
    cursor: pointer;
}
/* header */
header{
    width: 700px; height: auto;
}

header h1{
    font-size: 24px;
    text-align: center;
    width: 650px;
    border-bottom: 2px solid #bdbdbd;
    padding-bottom: 37px;
    margin: auto;
}
.cinema-nav ul{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 28px;
}
.cinema-nav button{
    padding: 10px 20px;
}
.cinema-nav button.active{
    font-weight: bold;
    color: #000;
}
