html{
    /* background: salmon; */
}
#root {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}
.container{
    position: relative;
    margin: 100px 0;

}

/* COOKIE  */
button.open-btn{
    position: absolute;
    transform: translate(-50%, -50%);

    font-size: 100px;
    background-color: #191919;
    border-radius: 50px;
    padding: 10px 50px;
    color: #fff;
    line-height: 150%;
}

/* MODAL  */
div.modal-wrap{
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
    box-sizing: border-box;
    width: 500px;
    background : #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding-bottom: 40px;
    box-shadow: 8px 10px 10px #eee;
}
.modal-wrap .modal-content{
    text-align: center;
}
img.cookie-img{
    width: 20%;
}
.text-h1{
    font-size: 60px;
    letter-spacing: 0.1em;
    margin-top: 20px;
}
.text-p{
    display: inline-block;
    width: 50%;
    color: #b5b5b5;
    line-height: 180%;
    margin: 20px 0;
}

/* button */
button.close{
    display: block;
    margin: 0 auto;
    background-color: #191919;
    color: #fff;
    padding: 20px 45px;
    border-radius: 30px;

    letter-spacing: 0.3em;
}